/* Jeremy De La Cruz */
a:link{color:gray;text-decoration:none;}
a:visited{color:gray;}
a:hover{text-shadow:none;color:gray;text-shadow:0 0 20px black;}
a:active{color:gray;}
a.resource:link{color:darkorange;text-decoration:none;}
a.resource:visited{color:darkorange;}
a.resource:hover{text-shadow:none;color:orange;text-decoration:underline;}
a.resource:active{color:darkorange;}

body
{
	/*background-color:#880000;*/
	background-image:url('images/stoneBackground.jpg');
	font-family:nyala;
}

h1
{
	padding-top:1cm;
	padding-bottom:1cm;
	text-align:center;
	font-size:36px;
	color:black;
	/*text-decoration:underline;*/
}

h2
{
	text-align:center;
	font-size:28px;
	color:maroon;
	text-decoration:none;
}

h3
{
	font-size:20px;
	color:darkslate;
	padding-bottom:0px;
	margin-top:2px;
	margin-bottom:5px;
	font-family:Nyala;
}

div#infoBox, div#tipBox
{
	position:relative;
	box-shadow: 5px 5px 5px #000000;
	vertical-align:text-top;
	display:inline-block;
	text-align:left; 
	font-size:15px;
	color:darkslate;
	margin-top:0cm; 
	margin-left:0%; 
	width: 300px; 
	background: rgba(119, 0, 0, 0.5); 
	padding-left:5px; 
	padding-bottom:5px;
}

div#tipBox
{
	margin-left:182px;
}

div#tipBox::hover
{
	filter:blur(0px);
}

div
{
	color:black;
	font-size:30px;
	background-color:white;
	margin-top:-.50cm;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	font-weight:10px;
}

div#menuBox
{
	position:relative;
	background:rgba(0, 0, 0, 0.5);
	height:100%;
	width:800px;
	z-index: 10;
	display:none;
}

input#playerName
{
	
}

div#TEST
{
	font-size:15px; 
	margin-top:0.5cm;
}

div#promptplayername 
{
	color:white;
	background:transparent;
	display:inline-block;
	width:500px;
	text-align:center;
	margin:auto;
	margin-top:12%;
	font-size:30px;
	font-family:nyala;
}

#promptplayermessage
{
    color:white;
    background:transparent;
    display:inline-block;
    width:500px;
    text-align:center;
    margin:auto;
    margin-top:12%;
    font-size:30px;
    font-family:nyala;
}

span
{
	padding:0.5cm;
	padding-left:1.25cm;
	padding-right:1.25cm;
	border-bottom:solid gray 2px;
	border-top:solid gray 2px;
	color:white;
}

p
{
	font-size:24px;
	color:gray;
	width:80%;
	margin:auto; 
	padding-top:10px;
	padding-bottom:100px;
	text-align:left;
}

b
{
	color:darkred;
}

b#misc
{
	color:gold;
}

.buttonPrompt
{
    color:gold;
}

i
{
	text-shadow:0 0 20px maroon; 
	color:white;
}

#confirmspeechbtn 
{	
	display:block;
	margin:auto;
	margin-top:15px;
	background-color:gold;
	color:black;
	font-family:nyala;
	font-size:20px;
	border: solid black 2px;
	border-radius:10px;
	cursor: pointer;
}
#confirmspeechbtn:hover 
{
	border:solid white 2px;;
}

#skipspeechbtn 
{	
	display:block;
	margin:auto;
	margin-top:15px;
	background-color:gold;
	color:black;
	font-family:nyala;
	font-size:20px;
	border: solid black 2px;
	border-radius:10px;
	cursor: pointer;
}
#skipspeechbtn:hover 
{
	border:solid white 2px;
}

form 
{
	text-align:right;
	margin-right:33%;
}

#gameScreen 
{
	height:500px;
	width:800px;
   	position:relative;
	background-color:black;
	margin-top:10px; 
	background: url(Assets/SPACE.png);
}

.loadingImg
{
	display:none;
}

#playerChar 
{
	position:absolute;
	top:390px;
	float:left;
	z-index:4;
	max-width:173px;
	overflow:hidden;
}

#npc 
{
	position:absolute;
	z-index:3;
}

#enemy 
{
	position:absolute;
	z-index:3;
}

#enemyHP
{
	position:absolute;
	z-index:3;
	color: red;
	background: rgba(0, 0, 0, 0.5);
	text-align:center;
	border-radius:7px;
	font-size:16px;
	font-family:calibri;
}

#envGround 
{
	position:relative;
	height:21px;
	width:800px; 
	background-color:#004800;
	z-index:1;
	opacity:1;
}

#playerPrompt
{
	font-family:century gothic; 
	background: rgba(0, 0, 0, 0.3); 
	font-size:14px;
    color:white;
	font-weight: 200;
	position:absolute; 
	/*display:none;*/
	width:280px;
	z-index:5; 
	float: left;
	margin-top:100px; 
	margin-left:10px; 
	margin-right:0px; 
	text-align:center;
	padding:5px;
}

#HUD
{
	font-family:century gothic; 
	background: rgba(0, 0, 0, 0.3); 
	font-size:15px; 
	font-weight: 800; 
	position:absolute; 
	height: 70px; 
	width:270px; 
	z-index:5; 
	margin-top:10px; 
	margin-left:10px; 
	margin-right:0px; 
	float:left; 
	text-align:left;
	padding:10px;
}

#goldCount
{
	color:gold;
	font-size:20px; 
	font-family:nyala;
}

#location
{
	color:black;
}

progress
{
	height:15px; 
	width:200px; 
	background: rgba(0, 0, 0, 0.2); 
	border-radius: 10px;
	margin-top:auto;
	border:none;
}

progress[value]
{
	height:15px; 
	width:200px; 
	color: maroon; 
	border-radius: 10px;
	border:none;
}

progress::-webkit-progress-bar
{
	height:15px; 
	width:200px; 
	background: rgba(0, 0, 0, 0.2); 
	border-radius: 10px;
}

progress::-webkit-progress-value
{
	height:15px; 
	width:200px; 
	background-color: maroon; 
	border-radius: 10px;
}